.features {
  color: $grey-features;
  min-height: 878px;
  padding: 109px 0 40px 0;
  background-image: url("../img/features-triangles.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features__list {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1220px;
  padding: 25px;
  box-sizing: border-box;
}

.features__item {
  width: calc(50% - 15px);
  min-height: 300px;
  border: 1px solid #EBEBEB;
  margin-bottom: 30px;
  padding: 40px 45px;
  box-sizing: border-box;
  position: relative;
  fill: $blue;
  &:before {
    content: "";
    background-color: $blue;
    position: absolute;
    width: 3px;
    min-height: calc(100% + 2px);
    left: -1px;
    top: -1px;
  }  
  &:hover {
    cursor: pointer;
    background-color: $blue;
    border-color: $blue;
    fill: $white;
    .features__name,
    .features__description {
      color: $white;
    }
  }
}

.features__name {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
}

.features__description {
  font-family: "PT Mono", "Arial", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $grey-features;
  margin-bottom: 0;  
}

.features__company {
  box-sizing: border-box;
  max-width: 1220px;
  padding: 25px 25px 25px 200px;
  margin: 0 auto;
  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-position: left;
  
  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: $grey-features;
    margin-top: 0;
  }
  p {
    font-family: "PT Mono", "Arial", monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  a {
    @include button($blue,180px);
  }
}

@media (max-width: $tablet-width-max) {
  .features__item {
    min-height: 232px;
    padding: 27px 27px;
  }
  .features__company {
    background-size: 251px;
    h2 {
      font-size: 32px;
      line-height: 45px;
    }
  }
}

@media (max-width: $mobile-width-max) {
  .features__item {
    width: 100%;
  }
  .features__name {
    font-size: 20px;
    line-height: 28px;
  }
  .features__company {
    background: none;
    padding: 15px;
    h2 {
      font-size: 28px;
      line-height: 40px;
    }
  }
}

