.footer__section {
  color: $grey;
  background: $grey-footer;
  h3 {
    display: block;
    width: 100%;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grey;
    margin-top: 0;
  }
}

.footer__section_lined {
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
}

.footer__section_main {
  box-sizing: border-box;
  min-height: 52px;
  padding: 65px 20px 57px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__social {
  margin: 52px 0 0 3px;
}
.footer__links {
  width: 270px;
  margin-right: 155px;
}

.footer__nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: auto;
}

.nav__list {
  padding: 0;
  margin-top: 10px;
  margin-right: 74px;
}

.nav__link {
  font-family: "PT Mono", "Arial", monospace;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $grey;
  opacity: 0.5;
}

.footer__contacts {
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h3 {
    margin-bottom: 24px;
  }
  
  a,p {
    font-family: "PT Mono", "Arial", monospace;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $grey;
    opacity: 0.5;
    margin: 0;
  }
}

.footer__section_bottom {
  font-family: "PT Mono", "Arial", monospace;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  padding: 14px 255px 14px 253px;
  p {
    margin: 0;
  }
}

@media (max-width: $tablet-width-max) {

}

@media (max-width: $mobile-width-max) {
}

