.message {
  color: $white;
  min-height: 500px;
  background-color: $blue;
  background-image: url("../img/paper_airplane.png"), url("../img/triangles.svg");
  /*, url("../img/form-triangles.svg");*/
  background-repeat: no-repeat;
  background-position: $plane-left 160px, 175px -60px;
  background-size: $plane-size, $tr-size;
}

.message__container {
  box-sizing: border-box;
  max-width: 1230px;
  padding: 90px 30px 115px 30px;
}

.form {
  max-width: 570px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  padding: 0;
  margin-bottom: 12px;
  margin-left: -5px;
}

.form__text {
  font-family: "PT Mono", "Arial", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 49px;
}

.form__row {
  display: flex;
  justify-content: space-between;
}

.form__input,
.form__message {
  min-width: 270px;
  box-sizing: border-box;
  border: none;
  min-height: 50px;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 14px 5px 14px 14px;
  color: $white;
  resize: none;
  margin-bottom: 40px;

  &::-webkit-input-placeholder {
    font-size: 16px;
    color: $white;
  }

  &::-moz-placeholder {
    font-size: 16px;
    color: $white;
    opacity: 1;
  }

  &:hover {
    /*border: 1px solid $blue;*/
    opacity: 0.5;
    outline: none;
  }

  &:focus,
  &:active {
    opacity: 1;
    padding-left: 20px;
    border: solid 1px $white;
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.form__message {
  padding: 13px 20px;
  min-height: 154px;
  margin-bottom: 43px;
}

.form__button {
  @include button($white,270px);
  padding: 0;
  margin: 0;
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.form__label {
  width: 230px;
  font-family: "PT Mono", "Arial", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  padding-left: 32px;
  margin-top: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    box-sizing: border-box;
    left: 0;
    top: 0;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    opacity: 0.5;
  }
}

.form__input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  border-left: 1px solid $white;
  border-bottom: 1px solid $white;
  left: 5px;
  top: 8px;
  transform: translateY(-80%) rotate(-45deg);
}

@media (max-width: $tablet-width-max) {
  .message {
    background-image: none;
  }
  .form {
    margin: 0 auto;
  }

}

@media (max-width: $mobile-width-max) {
  .message__container {
    padding: 15px;
  }
  .form__row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .form__title {
    font-size: 28px;
    line-height: 40px;
  }

}

