.logo {
  display: flex;
  max-width: 250px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  padding-left: 16px;
}

.logo__name {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;
}

.logo__slogan {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $grey-text;
}
