@mixin button($color,$width) {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color;
  min-width: $width;
  height: 45px;
  border: 1px solid $color;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  padding: 14px;
  background-color: transparent;
}