$white: #ffffff;
$black: #000000;
$grey: #1B2D37;
$grey-text: #788891;
$grey-features: #666666;
$grey-light: #8d969b;
$blue: #00B2FF;
$grey-footer: #FAFAFA;

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
